.myName {
  line-height: 1.1875;
  letter-spacing: 0;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  color: #000;
  font-family: "NotoSans KR, sans-serif";
}

.webText {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
}
.webText .lftTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 30px;
}
.webText .row {
  padding-bottom: 0;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  padding: var(--gutter) 0;
}
/* .is-visible {
	opacity: 1;
	pointer-events: all;
	z-index: 0;
	transition: opacity 0.6s;
  } */
.home__about .div1 .titleSub {
  font-size: 20px;
  font-weight: 600;
  color: rgb(88 150 241);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.home__about .div1 .titleH4 {
  line-height: 1.1875;
  letter-spacing: 0;
  font-size: 30px;
  font-weight: 600;
  /* display: inline; */
  font-style: normal;
  color: #000;
  font-family: "NotoSans KR, sans-serif";
}
.home__about .div1 .titleP {
  line-height: 1.1875;
  letter-spacing: 0;
  font-family: "Noto Sans KR, sans-serif";
  color: rgba(0, 0, 0, 0.5);
  /* color: rgba(255, 255, 255, 0.5); */
  font-size: 22px;
  font-weight: 600;
  /* display: inline; */
}
.home__about .div2 .titleSub {
  font-size: 20px;
  font-weight: 600;
  color: rgb(88 150 241);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.home__about .div2 .titleH4 {
  line-height: 1.1875;
  letter-spacing: 0;
  font-size: 30px;
  font-weight: 600;
  /* display: inline; */
  font-style: normal;
  color: #000;
  font-family: "NotoSans KR, sans-serif";
}
.home__about .div2 .titleP {
  line-height: 1.1875;
  letter-spacing: 0;
  font-family: "Noto Sans KR, sans-serif";
  color: rgba(0, 0, 0, 0.5);
  /* color: rgba(255, 255, 255, 0.5); */
  font-size: 22px;
  font-weight: 600;
  /* display: inline; */
}
.underline-animation {
  position: relative;
  margin-top: 20px;
  display: inline-block;
  font-size: 24px;
  cursor: pointer;
}

.underline-animation::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.underline-animation:hover::after {
  transform: scaleX(0);
  transform-origin: right;
}
.home__about .div3 .titleSub {
  font-size: 20px;
  font-weight: 600;
  color: rgb(88 150 241);
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.home__about .div3 .titleH4 {
  line-height: 1.1875;
  letter-spacing: 0;
  font-size: 30px;
  font-weight: 600;
  /* display: inline; */
  font-style: normal;
  color: #000;
  font-family: "NotoSans KR, sans-serif";
}
.home__about .div3 .titleP {
  line-height: 1.1875;
  letter-spacing: 0;
  font-family: "Noto Sans KR, sans-serif";
  color: rgba(0, 0, 0, 0.5);
  /* color: rgba(255, 255, 255, 0.5); */
  font-size: 22px;
  font-weight: 600;
  /* display: inline; */
}

.column {
  -ms-flex: 1 1 0px;
  flex: 1 1 0px;
  padding-left: var(--gutter);
  padding-right: var(--gutter);
}
[data-animation="fade-in"].is-visible {
  opacity: 1;
}
.rgtTitle {
  border-left: 1px solid #c4dbe0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.webVisual {
  background-color: red;
  width: 96%;
  height: 700px;
  margin: 30px;
  border-radius: 20px;
  padding: 30px;
}

.home__about .column {
  min-height: 25.92593vw;
  padding: 30px;
}
@media (min-width: 1001px) {
  .xlarge-9 {
    -ms-flex: 0 0 74.99997%;
    flex: 0 0 74.99997%;
    max-width: 70.99997%;
  }
  .column:not(.large-down) + .column {
    border-left: 1px solid #c4dbe0;
  }
}

@media (max-width: 1000px) {
  .home__hero__logo {
    margin-top: var(--gutter);
    -ms-flex-align: end;
    align-items: flex-end;
  }
}

.mainVis2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-height: 600px;
  margin: 50px 100px;
}

.mainVis {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; /* 이 부분을 수정하여 요소 사이의 간격을 조절합니다 */
  min-height: 600px;
  margin: 50px 0;
  overflow-x: auto;
  white-space: nowrap;
  background-color: #f5f5f7;
}
.mainVis::before {
  /* 왼쪽에 흰색 빈 영역 추가 */
  content: "";
  flex: 0 0 50%; /* 왼쪽 영역 크기 조절 */
  background-color: white; /* 배경색 설정 */
}
/* .mainVis::after {
	content: "";
	flex: 0 0 8px;
  } */
.mainVis .rightCardBox {
  width: 320px;
  height: 550px;
  border-radius: 18px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  /* border: 1px solid #000; */
  background-color: #fff;
  margin-right: 10px;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.16);
}
.mainVis .rightCardBox .textCont {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 30px;
}
.mainVis .rotateBox {
  height: 250px;
  transform: rotate(-90deg);
}
.rotate {
  height: 250px;
  transform: rotate(-90deg);
}
.mainVis .rightCardBox img {
  /* margin-top: 130px; */
  margin-top: 10px;
}
.mainVis .rightCardBox .mainCardImg {
  margin-top: 100px;
  width: 250px;
  height: 400px;
}
.mainVis .rightCardBox .rotateBox {
  /* margin-top: 203px; */
  margin-top: 85px;
}

.mainVis .rightCardBox .textCont p {
  margin-top: 5px;
}
.mainVis .rightCardBox .textCont .title {
  font-size: 18px;
  font-weight: 700;
}
.mainVis .rightCardBox .textCont .cardCop {
  font-size: 15px;
  font-weight: 600;
  color: #999;
}
.mainVis .rightCardBox .textCont .benefit {
  font-size: 12px;
  font-weight: 400;
  color: #999;
}
.mainVis .rightCardBox .textCont .annualFee {
  font-size: 12px;
  font-weight: 400;
  color: #999;
}
.mainVis .rightCardBox .imgBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
}

@keyframes nextCard {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.mainLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
  font-weight: 800;
}

.scrollableContainer {
  white-space: nowrap; /* 내부 요소들이 가로로 나란히 정렬되도록 설정 */
  display: flex;
  min-width: calc(320px * 6); /* 최소 너비 설정 (요소 수에 따라 조절) */

  /* 나머지 스타일링 속성들 */
}

.scrollableContainer2 {
  /* width: 100%;
	min-width: 100vw; */
  overflow-x: scroll;
  white-space: nowrap;
  display: flex;
}

.mainVis .rightCardBox:last-child {
  padding-right: 20px; /* 마지막 요소에는 간격을 제거합니다 */
}
.mainVis .rightCardBox:first-child {
  margin-left: 0; /* 첫 번째 요소에는 왼쪽 간격을 제거합니다 */
}
::-webkit-scrollbar {
  display: none;
}
