.pieChartBox {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  border-radius: 20px;
  border-width: 2px;
  /* border-color: #e4edf2; */
  background-color: #fff;
  border-style: solid;
}

.pieChartBox2 {
  position: relative;
  border-radius: 32px;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  background-color: #ffffff;
  z-index: 0;
}
.node-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.node {
  /* position: absolute; */
  /* width: 100px;
  height: 100px; */
  /* background-color: rgba(0, 0, 0, 0.5); */
  transition: transform 1s;
  transform-origin: center;
}

.a {
  transform: rotateX(0deg);
}

.b {
  transform: rotateX(360deg);
}

.flipContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 22px 18px 24px 18px;
  gap: 30px;
  border-radius: 20px;
  align-items: center;
  transition: background-color 0.2s ease;
}
